$main-color: #000;
$blue: #0f36d4;
$red: #ee4957;
$green: #5da93d;
$grey: #f6f7f9;
$yellow: #fee500;
$logo-color: #4dbce9;
$text-color: #001433;
$small-text: #6d6d6d;
$light-black: #282c34;
$black: #001433;
$line-color: #e3e5e8;
$bg-color: #f6f7f9;
