@import "reset", "boxshadow", "colors", "mixin", "table-cell", "variable";
@import url("../css/font.css");

body {
  font-family: "noto";
}

// header
.hankan__header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 90px;
  background-color: #5eb9e9;
  z-index: 10;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .hankan__header-inner {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    @include dsp-flex(row, center, space-between);
    .hankan__header-left {
      @include dsp-flex(row, center, flex-start);
      gap: 1.5rem;
      position: relative;
      // border: 1px solid red;
      .hankan__logo {
        // border: 1px solid red;
        position: absolute;
        top: -55px;
        left: -5%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          img {
            object-fit: fill;
            height: 400px;
          }
        }
      }
      .hankan__nav-wrap {
        margin-left: 7rem;
        ul {
          @include dsp-flex(row, center, flex-start);
          gap: 1.5rem;
          li {
            a {
              display: inline-block;
              font-size: 16px;
              font-weight: 500;
              color: #fff;
              transition: opacity 0.3s ease-in-out;
              &:hover {
                transition: opacity 0.3s ease-in-out;
                opacity: 80%;
              }
            }
          }
        }
      }
    }
    .hankan__header-right {
      .header__menu {
        display: none;
      }
      .header__muenu-subWrap {
        display: none;
      }
      .hankan__btn {
        background-color: #50667f;
        color: #fff;
        padding: 15px 20px;
        border-radius: 3px;
        outline: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        &:hover {
          transition: opacity 0.3s ease-in-out;
          opacity: 80%;
        }
      }
    }
  }
}
//   header

@media (max-width: 765px) {
  .hankan__header-wrap {
    padding: 0 20px;
    .hankan__header-inner {
      .hankan__header-left {
        .hankan__logo {
          a {
            img {
            }
          }
        }
        .hankan__nav-wrap {
          display: none;
          ul {
            li {
              a {
                &:hover {
                }
              }
            }
          }
        }
      }
      .hankan__header-right {
        margin-top: auto;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .header__menu {
          display: block;
          cursor: pointer;
          transition: all 0.2s ease-in-out 0s;
          margin-bottom: 1rem;
          .header__menu-hamberger {
            background-color: transparent;
            width: 1.1rem;
            height: 0.875rem;
            position: relative;
            cursor: pointer;
            outline: none;
            border: none;
            .header__hamberger-bar {
              width: 100%;
              height: 2px;
              background-color: #fff;
              position: absolute;
              &.header__hamberger-bar--top {
                top: 0;
                left: 0;
                transform: rotate(0deg);
                transition: transform 0.3s linear, top 0.3s linear;
              }
              &.header__hamberger-bar--mid {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: width 0.3s linear;
              }
              &.header__hamberger-bar--bot {
                bottom: 0;
                left: 0;
                transform: rotate(0deg);
                transition: transform 0.3s linear, bottom 0.3s linear;
              }
            }

            &.on {
              .header__hamberger-bar--top {
                transform: rotate(45deg);
                top: 6px;
                transition: transform 0.3s linear, top 0.3s linear;
              }
              .header__hamberger-bar--mid {
                width: 0;
                transition: width 0.3s linear;
              }
              .header__hamberger-bar--bot {
                transform: rotate(-45deg);
                bottom: 6px;
                transition: transform 0.3s linear, bottom 0.3s linear;
              }
            }
          }
        }
        .header__muenu-subWrap {
          position: fixed;
          top: 100px;
          left: 0;
          width: 100%;
          height: 100vh;
          background-color: #fff;
          display: none;
          z-index: -1;
          padding-top: 2em;
          ul {
            display: inline-block;
            height: 100%;
            padding: 1.25rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 2.5rem;
            li {
              a {
                font-weight: 400;
                color: #333;
                font-weight: 500;
                font-size: 1.3rem;
              }
            }
          }

          &.on {
            display: block;
          }
        }
        ul {
          display: block;
          @include dsp-flex(row, center, center);
          li {
            margin-right: 2.5rem;
            position: relative;

            &:last-child {
              margin-right: 0;
            }
            .akros__menu-link {
              width: 100%;
              display: inline-block;
              color: #1f1f1f;

              .line {
                display: inline-block;
                // padding-right: 3rem;
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  display: block;
                  width: 100%;
                  height: 1px;
                  left: 0;
                  bottom: -7px;
                  background-color: #1f1f1f;
                  transform: scaleX(0);
                  transform-origin: right;
                  transition: transform 0.4s ease-out;
                }
                &:hover {
                  &::before {
                    transform: scaleX(1);
                    transform-origin: left;
                  }
                }
                &.on {
                  &::before {
                    transform: scaleX(1);
                  }
                }
              }
              @media (max-width: 765px) {
                .line {
                  padding-right: 3rem;
                  &::before {
                  }
                  &:hover {
                    &::before {
                    }
                  }
                  &.on {
                    &::before {
                    }
                  }
                }
              }
            }
          }
          .link-flex {
            @include dsp-flex(row, baseline, space-between);
            gap: 3px;
          }
        }
        .hankan__btn {
          padding: 5px 10px;
          font-size: 14px;
          &:hover {
          }
        }
      }
    }
  }
}
// main
.hankan__main-wrap {
  width: 100%;
  margin-top: 100px;
}
.hankan__content-cover {
  &:nth-child(2n) {
    background: linear-gradient(to bottom, #fafafa, #e6e6e6);
  }
  overflow: hidden;
  .hankan__content-inner {
    max-width: 1200px;
    height: 810px;
    margin: 0 auto;
    padding-top: 170px;

    .hankan__content__text-wrap {
      @include dsp-flex(column, center, center);
      gap: 2.5rem;
      height: 10%;
      .hankan__content-text {
        display: inline-block;
        // color: #00b0f0;
        color: #333;
        font-size: 30px;
        font-weight: 500;
      }
    }
    .hankan__content-img {
      height: 90%;
    }
  }
}
@media (max-width: 765px) {
  .hankan__content-cover {
    &:nth-child(2n) {
    }
    .hankan__content-inner {
      height: 550px;
      padding: 72px 24px 0 24px;
      .hankan__content__text-wrap {
        .hankan__content-text {
        }
      }
      .hankan__content-img {
      }
    }
  }
}
.hankan__btn-wrap {
  @include dsp-flex(row, center, flex-start);
  gap: 1.5rem;
  width: 75%;
  .hankan__btn {
    display: inline-block;
    width: 50%;
  }
}
.section-1 {
  position: relative;
  .hankan__content-inner {
    height: 900px;
    background-image: url(../../image/images/1page.PNG);
    background-position: right 5% bottom 70%;
    background-repeat: no-repeat;
    background-size: 30%;
    .hankan__content__text-wrap {
      padding-bottom: 6rem;
      width: 60%;
      height: 65%;
      .hankan__content-img {
        width: 200px;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../image/svg/한칸로고2.svg);
      }
    }
  }

  .start-btn {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 232px;
    height: 48px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    border: none;
    outline: none;
    background-color: #5eb9e8;
    color: #fff;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      transition: opacity 0.3s ease-in-out;
      opacity: 80%;
    }
  }
  .start-icon {
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-image: url(../../image/images/arrow-down-s-line.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    background-color: #5eb9e8;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #fff;
      border: 1px solid #5eb9e8;
      transition: all 0.3s ease-in-out;
      background-image: url(../../image/images/arrow-down-s-line-blue.svg);
    }
  }
}
@media (max-width: 765px) {
  .section-1 {
    .hankan__content-inner {
      height: 662px;
      background-position: center top 15%;
      background-size: 47%;
      padding-top: 0;
      .hankan__content__text-wrap {
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        padding-bottom: 10rem;
        gap: 1rem;
        .hankan__content-img {
          width: 100px;
          height: 100px;
          display: none;
        }
        .hankan__content-text {
          font-size: 16px;
          font-weight: bold;
          // display: none;
        }
      }
    }
    .start-btn {
      &:hover {
      }
    }
    .start-icon {
      width: 45px;
      height: 45px;
      top: 79%;
      &:hover {
      }
    }
  }
}
.section-2 {
  .hankan__content-inner {
    @include dsp-flex(column, center, center);
    margin-bottom: 7rem;
    .hankan__content__text-wrap {
      width: 100%;
      height: 100%;
      .hankan__content-img {
        width: 143px;
        height: 168px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../image/images/logo3.png);
      }
    }
  }
}

@media (max-width: 765px) {
  .section-2 {
    .hankan__content-inner {
      .hankan__content__text-wrap {
        gap: 1rem;
        .hankan__content-img {
          margin-bottom: 2rem;
        }
        .hankan__content-text {
          font-size: 14px;
        }
      }
    }
  }
}
.section-3 {
  .hankan__content-inner {
    .hankan__content__text-wrap {
      width: 50%;
      .hankan__content-text {
        font-weight: 500;
        font-size: 40px;
        line-height: 50px;
      }
    }
    .hankan__content-img {
      width: 100%;
      height: 90%;
      @include dsp-flex(row, flex-start, flex-start);
      gap: 3rem;
      margin-top: 2rem;
      .hankan__img {
        width: 100%;
        height: 81.5%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: 3rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        &.hankan__img--1 {
          width: 25%;
          background-image: url(../../image/images/앱스토어-아이폰-1.svg);
        }
        &.hankan__img--2 {
          width: 25%;
          background-image: url(../../image/images/앱스토어-아이폰-2.svg);
        }
        &.hankan__img--3 {
          width: 25%;
          background-image: url(../../image/images/앱스토어-아이폰-3.svg);
        }
        &.hankan__img--4 {
          width: 25%;
          background-image: url(../../image/images/앱스토어-아이폰-4.svg);
        }
      }
    }
  }
}
@media (max-width: 765px) {
  .section-3 {
    .hankan__content-inner {
      .hankan__content__text-wrap {
        align-items: flex-start;
        width: 100%;
        .hankan__content-text {
          font-size: 20px;
          line-height: 27px;
          font-weight: 600;
        }
      }
      .hankan__content-img {
        width: 193%;
        transform: rotate(-45deg) translate(-10%, -30%);
        position: relative;
        z-index: -1;
        background-size: 110%;
        .hankan__img {
          height: 57.5%;
          &.hankan__img--1 {
          }
          &.hankan__img--2 {
          }
          &.hankan__img--3 {
          }
          &.hankan__img--4 {
          }
        }
      }
    }
  }
}
.section-4 {
  .hankan__content-inner {
    .hankan__content__text-wrap {
      align-items: flex-start;
      width: 50%;
      .hankan__content-text {
        font-weight: 500;
        font-size: 40px;
        line-height: 50px;
      }
    }
    .hankan__content-img {
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../../image/images/응모방법.png);
    }
  }
}
@media (max-width: 765px) {
  .section-4 {
    .hankan__content-inner {
      .hankan__content__text-wrap {
        width: 67%;
        .hankan__content-text {
          font-size: 20px;
          line-height: 27px;
          font-weight: 600;
        }
      }
      .hankan__content-img {
      }
    }
  }
}
.section-5 {
  .hankan__content-inner {
    .hankan__content__text-wrap {
      align-items: flex-start;
      width: 50%;
      gap: 1rem;
      .hankan__content-text {
        font-weight: 500;
        font-size: 40px;
        &.hankan__content-text--sm {
          font-size: 24px;
        }
      }
    }
    .hankan__content-img {
      width: 100%;
      height: 75%;
      @include dsp-flex(row, flex-start, flex-start);
      gap: 1rem;
      .hankan__img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        margin-top: 3rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        .img--text {
          position: absolute;
          display: block;
          left: 50%;
          bottom: -7%;
          transform: translateX(-50%);
          width: 100%;
          white-space: nowrap;
          text-align: center;
        }
        &.hankan__quiz {
          @include dsp-flex(row, flex-start, flex-start);
          gap: 1rem;
          width: 40%;
          box-shadow: none;
        }
        &.quiz-img--1 {
          background-image: url(../../image/svg/퀴즈및설문조사.svg);
          width: 50%;
          margin-top: 0;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
        &.quiz-img--2 {
          background-image: url(../../image/svg/퀴즈및설문조사2.svg);
          width: 50%;
          margin-top: 0;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
        &.hankan__img--ad {
          width: 20%;
          background-image: url(../../image/svg/퀴즈및설문조사3.svg);
        }
        &.hankan__img--sad {
          width: 20%;
          background-image: url(../../image/svg/퀴즈및설문조사4.svg);
        }
        &.hankan__img--zpage {
          width: 20%;
          background-image: url(../../image/svg/퀴즈및설문조사5.svg);
        }
      }
    }
  }
}
@media (max-width: 765px) {
  .section-5 {
    .hankan__content-inner {
      height: 211rem;
      .hankan__content__text-wrap {
        height: auto;
        justify-content: flex-start;
        width: 100%;
        gap: 0;
        margin-bottom: 2rem;
        .hankan__content-text {
          font-size: 20px;
          line-height: 27px;
          font-weight: 600;
          &.hankan__content-text--sm {
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
      .hankan__content-img {
        flex-direction: column;
        gap: 5rem;
        height: auto;
        .hankan__img {
          margin-top: 0;
          margin: 0 auto;
          .img--text {
            bottom: -10%;
          }
          &.hankan__quiz {
            width: 100%;
            align-items: center;
            justify-content: center;
          }
          &.quiz-img--1 {
            height: 25rem;
            margin: 0;
          }
          &.quiz-img--2 {
            height: 25rem;
            margin: 0;
          }
          &.hankan__img--ad {
            width: 100%;
            height: 52rem;
            .img--text {
              width: 120%;
              bottom: -5%;
            }
          }
          &.hankan__img--sad {
            width: 100%;
            height: 52rem;
            .img--text {
              width: 95%;
              bottom: -5%;
            }
          }
          &.hankan__img--zpage {
            width: 100%;
            height: 48rem;
            .img--text {
              width: 137%;
              bottom: -5%;
            }
          }
        }
      }
    }
  }
}
.section-6 {
  .hankan__content-inner {
    height: 1150px;
    .hankan__content__text-wrap {
      align-items: flex-start;
      width: 50%;
      gap: 1rem;
      // height: 20%;
      margin-bottom: 2rem;
      .hankan__content-text {
        font-weight: 500;
        font-size: 40px;
        &.hankan__content-text--sm {
          font-size: 24px;
          line-height: 34px;
        }
      }
    }
    .hankan__content-img {
      width: 100%;
      height: 74%;
      @include dsp-flex(row, flex-start, space-between);
      gap: 1rem;
      .hankan__img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: 2rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        .img--text {
          display: inline-block;
          position: absolute;
          bottom: -10%;
          left: 50%;
          transform: translateX(-50%);
          width: fit-content;
        }
        &.hankan__img--game1 {
          width: 20%;
          background-image: url(../../image/svg/한칸게임페이지.svg);
        }
        &.hankan__img--game2 {
          width: 20%;
          background-image: url(../../image/svg/한칸게임페이지2.svg);
        }
        &.hankan__img--game3 {
          width: 20%;
          background-image: url(../../image/svg/한칸게임페이지3.svg);
        }
        &.hankan__img--game4 {
          width: 20%;
          background-image: url(../../image/svg/한칸게임페이지4.svg);
        }
      }
    }
  }
}
@media (max-width: 765px) {
  .section-6 {
    .hankan__content-inner {
      height: 365px;
      .hankan__content__text-wrap {
        justify-content: flex-start;
        width: 100%;
        height: 10%;
        gap: 5px;
        .hankan__content-text {
          font-size: 20px;
          line-height: 27px;
          font-weight: 600;
          &.hankan__content-text--sm {
            font-size: 15px;
            font-weight: 500;
            line-height: 20px;
          }
        }
      }
      .hankan__content-img {
        // flex-direction: column;
        // gap: 5rem;
        // height: 85%;
        .hankan__img {
          .img--text {
          }
          &.hankan__img--game1 {
          }
          &.hankan__img--game2 {
          }
          &.hankan__img--game3 {
          }
          &.hankan__img--game4 {
          }
        }
      }
    }
  }
}
.section-7 {
  .hankan__content-inner {
    height: auto;
    padding: 144px 20px 85px;
    text-align: center;
    .hankan__content__text-wrap {
      .hankan__content-text {
        font-weight: bold;
        font-size: 40px;
      }
    }
    .hankan__btn-wrap {
      width: 45%;
      margin: 0 auto;
      margin-top: 3rem;
    }
  }
}

@media (max-width: 765px) {
  .section-7 {
    .hankan__content-inner {
      padding: 45px 0 36px;
      .hankan__content__text-wrap {
        width: 100%;
        margin: 0 auto;
        .hankan__content-text {
          font-size: 22px;
          line-height: 30px;
        }
      }
      .hankan__btn-wrap {
        width: 70%;
        margin-top: 1rem;
      }
    }
  }
}
// main

// footer
.hankan__footer-wrap {
  width: 100%;
  padding: 40px 90px;
  background-color: #fafafa;
  .hankan__footer-inner {
    max-width: 1200px;
    margin: 0 auto;
    .hankan__logo {
      width: 100px;
      height: 100px;
      margin-bottom: 2rem;
      a {
        display: block;
        width: 100%;
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .hankan__btn-wrap {
      margin-bottom: 1.5rem;
      .hankan__btn {
        width: fit-content;
        background-color: #00b0f0;
        border-radius: 4px;
        border: none;
        outline: none;
        padding: 10px 16px;
        font-size: 16px;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        a {
          color: #fff;
        }
        &:hover {
          transition: opacity 0.3s ease-in-out;
          opacity: 80%;
        }
      }
      &.hankan__btn-wrap--gray {
        .hankan__btn {
          background-color: #5e5050;
          a {
            color: #fff;
          }
        }
      }
    }
    .footer__address {
      font-size: 14px;
      letter-spacing: 0.5px;
      line-height: 20px;
      margin-bottom: 0.5rem;
    }
    .footer__copyright {
      font-size: 13px;
      color: #a9a9a9;
    }
  }
}

@media (max-width: 765px) {
  .hankan__footer-wrap {
    padding: 36px 24px 48px 24px;
    .hankan__footer-inner {
      .hankan__logo {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
        a {
          img {
          }
        }
      }
      .hankan__btn-wrap {
        margin-bottom: 10px;
        gap: 10px;
        .hankan__btn {
          padding: 10px;
          font-size: 12px;
          a {
          }
          &:hover {
          }
        }
        &.hankan__btn-wrap--gray {
          .hankan__btn {
            padding: 10px;
            font-size: 12px;
            a {
            }
          }
        }
      }
      .footer__address {
        font-size: 10px;
        text-align: center;
        line-height: 14px;
      }
      .footer__copyright {
        text-align: center;
      }
    }
  }
}
// footer
